.road {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	grid-template-rows: repeat(4, 1fr);
}
.space {
	background-color: rgba(128,128,128,.6);
	border: solid black 1px;
}

.car {
	background-color: gray;
	border: solid black 1px;
	grid-column: 2;
}
p {
	font-size: 48px;
}
